@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
    background-color: #0d1410;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }

  #root {
    height: 100%;
    width: 100%;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 20px rgba(84, 240, 133, 0.5);
  }
}
